@import "../variables.modules";

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  transition: all 400ms;
  z-index: 1;
  position: relative;

  &.dark {
    background-color: $dark;
  }

  &.light {
    background-color: $white;
  }

  .burgerMenu {
    display: none;

    @media (max-width: 900px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      cursor: pointer;
      margin-left: 1rem;

      .burgerIcon {
        width: 30px;
        height: 3px;
        background-color: currentColor;
        margin: 6px 0;
        transition: 0.4s;
      }
    }
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex: 1; /* Allow `ul` to take available space */
    max-width: 100%; /* Ensure `ul` does not exceed the container width */

    @media (min-width: 901px) {
      gap: 8rem;
    }

    @media (max-width: 900px) {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px; /* Position below the burger menu */
      left: 0;
      right: 0;
      background-color: inherit; /* Inherit background color from nav */
      z-index: 1000;
      width: 100%; /* Ensure full width on small screens */
      padding: 0;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease-in-out;
    }
  }

  .showMenu {
    display: flex !important; /* Ensure the menu shows when toggled */
    background-color: inherit; /* Ensure the menu inherits the background color */
  }

  li {
    display: flex;
    align-items: center;
    transition: $transition;

    &:hover {
      transform: translateY(-3px);
      transition: $transition;
    }

    &.active {
      border-bottom: 5px solid;
      border-image-slice: 1;
    }

    .link {
      text-decoration: none;
      color: inherit;

      &:hover {
        color: unset;
      }

      p {
        padding: 0.5rem 0;
      }

      h1 {
        margin: 0;
      }
    }
  }

  .darkModeIcon {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 900px) {
      margin-left: 0;
    }
  }
}
